html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
} 

 .square {
    padding: 16px; 
    border: 1px solid #DDDDDD;
}

.square.painted {
    background-color:  rgba(0, 0, 0, 0.3);
}