:root {
    --numSquares: 16;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    
    font-size: 36px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--numSquares), calc(512px / var(--numSquares)));
    grid-template-rows: repeat(var(--numSquares), calc(512px / var(--numSquares)));
} 

 .square {
    border: 1px solid #DDDDDD;
}

.resetControls {
    padding-bottom: 20px;
}